* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    margin-top: 10px;
    list-style: none;
    background-color: darksalmon;
}

.list-nav-bar {
    display: inline-block;
    padding-left: 10px;
}

.list-nav-bar a{
    color: white;
    text-decoration: none;
}

.list-nav-bar a:hover {
    color: blueviolet;
}

.list-nav-bar a:active {
    color: silver;
}

.list-nav-bar a::after {
    content: " / ";
}

h1 a{
    color: white;
    background-color: burlywood;
}

h1 a{
    text-decoration: none;
}

h1 a:hover {
    color: blueviolet;
}

h1 a:active {
    color: darkgray;
}