@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


* {
    box-sizing: border-box;
    font-family: Century Gothic;
}


body {
    background-color: #24292f;
    font-family: 'EB Garamond', serif;
    color: #fff;
}



.form-group {
    margin-bottom: 1rem;
    display: inline-flex;
}

.form-group,#nombre_pelicula {
    margin-top: .75rem;
    padding: .75rem;

}

#nombre_pelicula {
    width: 400px;
    padding: .355rem .55rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


#search,.container {
    padding-left: 60vh;
}


#search {
    color: #fff;
    background-color: #015FE8;
    outline: none;
    min-height: 30px;
    font-weight: 380;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .29rem;
    font-family: 'EB Garamond', serif;
}

#search:hover {
    background-color: black;
    color: red;
    transition: ease-in .4s;
    box-shadow: 2px 4px 13px -6px rgb(105, 244, 198);
}

#delet {
    color: #fff;
    background-color: #015FE8;
    outline: none;
    min-height: 30px;
    font-weight: 380;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .29rem;
    font-family: 'EB Garamond', serif;
}

#delet:hover {
    background-color: black;
    color: red;
    transition: ease-in .4s;
    box-shadow: 2px 4px 13px -6px rgb(105, 244, 198);
}