body {
    background-color: cyan;
 }

 h1 {
    background-color: blueviolet;
    color: gold;
 }

 p {
    background-color: blueviolet;
    font-size: 30px;
    color: gold;
 }
 
 .foto {
     width: 1341px;
 }