body {
    background-color: black;
 }

 h1 {
    background-color: black;
    color: gold;
 }

 p {
    background-color: black;
    font-size: 30px;
    color: gold;
 }
 
 .foto {
     width: 1341px;
 }