

.form-group {
    margin-bottom: 1rem;
}



#inputValue {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}

#search {
    color: #fff;
    background-color: blue;
    outline: none;
    min-height: 30px;
    font-weight: 380;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .29rem;
}

#search:hover {
    background-color: red;
    color: black;
    transition: ease-in .4s;
    box-shadow: 2px 4px 13px -6px rgb(105, 244, 198);
}