@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@media screen {
    (min-width: 500px;)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'EB Garamond', serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #2C2C2B;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -8px;
}

.brand span {
    color: #FF00FF;
}
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none; 
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu a {
    color: #FF00FF;
}

.menu a:hover {
    background-color: darksalmon;
    color: black;
    transition: ease-in .4s;
}

h1 a:active {
    color: darkgray;
}

.image {
    width: 85rem;
    height: 50rem;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.img {
    width: 550px;
    height: 550px;
}